*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* main */
.container{
    width: 100vw;
    height: 100vh;
}

.container-main{   
    width: 100%;
    height: calc(100% - 80px);

    background-color: black;
}

.top-right-commands{
    height: 40px;

    position: relative;
}

.buttons{
    position: absolute;
    top: 0;
    right: 0;
}

.buttons button{
    border-radius: 10px;
    padding: 8px;
    border-color: #656565;
    background-color: #656565;
    color: white;  
    
}

.container-photo{
    height: calc(100% - 100px);

    margin: 20px;

    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    
}

.img{
    width: calc(100% / 7 - 3px);
    height: calc(100% / 5);

    position: relative;
}

.img span{
    color: white;

    position: absolute;
    bottom: 0;
    left: 0;

    background-color:rgba(192,192,192,0.6);
    padding: 2px;
}

.container-footer{
    height: 80px;
    width: 100%;

    background-color: #222222;

    display: flex;
    justify-content: space-between;
}
/* footer-left */
.footer-left{
    width: 150px;

    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}
/* mic */
.mic{
    display: flex;
   flex-direction: column;
    align-items: center;
}

.fa-solid.fa-microphone{
    font-size: 20px;
    color: white;
}

.mic p{
    color: white;
    margin-top: 10px;
}
/* video */
.video{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fa-solid.fa-video{
    font-size: 20px; 
    color: white;
}

.video p{
    margin-top: 10px;
    color: white;
}
/* /footer-left */

/* footer-center */
.footer-center{
    width: 700px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items p{
    margin-top: 10px;
}

.items i{
    font-size: 20px; 
    color: white; 

    display: flex;
    flex-direction: column;
    align-items: center;
}

.items p{
    font-size: 15px;
    color: white;
}

.fa-solid.fa-share-from-square{
    display: inline-block;
    color: green;
}


/* /footer-center */

/* footer-right */
.footer-right{
    width: 200px;

    background-color: rgb(53, 53, 53); 

    display: flex;
    align-items: center;
    justify-content: center;
}

.container-end-meeting a{
    color: red;
    text-decoration: none;
}
/* /footer-center */
/* /main */